/* style.css
 * This file provides css styles.
 */

body,
html {
    background-color: #2a2a2a; // #f4f4f4;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #555;
}

.content {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column;
    flex-flow: column;
    max-width: 1100px;
    margin: auto;
    height: 100%
}

.banner {
    height: 60px;
    /* background: #2a2a2a; */
    margin: 10px;
    min-height: 40px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
}

.title {
    color: #dd4131;
    font-size: 14px;
}

.geo {
    display: flex;
    flex-direction: row;
    height: 85%
}

.copa {
    display: flex;
    flex-direction: row;
}

.competitors {
    display: flex;
    flex-direction: column;
    width: 120px;
    min-width: 120px;
    margin: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    overflow: scroll;
}

.competitorsb {
    display: flex;
    flex-direction: column;
    width: 120px;
    min-width: 120px;
    margin: 10px;
    margin-left: 0;
    margin-bottom: 10px;
    overflow: scroll;
}

.lead {
    display: flex;
    flex-direction: row;
    background: #212121;
    min-height: 30px;
    justify-content: flex-start;
    margin-bottom: 20px;
    font-size: 12px;
    color: #ccc;
    padding-left: 10px;
    align-items: center;
    font-weight: bold;
}

.leadb {
    display: flex;
    flex-direction: row;
    background: #212121;
    min-height: 30px;
    justify-content: flex-end;
    margin-bottom: 20px;
    font-size: 12px;
    color: #ccc;
    padding-right: 10px;
    align-items: center;
    font-weight: bold;
}

.teamlist {
    display: flex;
    flex-direction: column;
    width: 120px;
    min-width: 120px;
    overflow: scroll;
}

.item {
    margin-bottom: 20px;
    height: 120px;
    min-height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #212121;
    cursor: pointer;
}

.teamname {
    font-size: 12px;
    color: #ccc;
    margin: 5px;
}

.nation {
    display: flex;
    flex-direction: row;
    margin: 5px;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.teaminfo {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.flag {
    height: 20px;
}

.info {
    margin: 5px;
    color: #ccc;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.details {
    margin: 10px;
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    background: #212121;
}

.detailLabel {
    font-size: 9px;
    margin-bottom: 3px;
}

.detailContent {
    font-size: 10px;
    font-weight: bold;
}

.map {
    height: 100%;
    background: #212121;
    background-color: #212121 !important;
}

.controls {
    display: flex;
    flex-direction: row;
    height: 10%;
    border: 1px solid #eee;
    /*    margin-top: 10px;*/
    /*    margin-bottom: 20px;*/
}

.team {
    display: flex;
    flex-direction: row;
    height: 100px;
    margin: 10px;
    margin-top: 0;
    /*    background: #2a2a2a;*/
    height: 0;
    min-height: 0;
    visibility: hidden;
    justify-content: center;
    -webkit-transition: height 1s;
    -moz-transition: height 1s;
    -ms-transition: height 1s;
    -o-transition: height 1s;
    transition: height 1s;
}

.mapcontainer {
    /*    padding: 2px;*/
    /*    border-radius: 3px;*/
    background: #2a2a2a;
    height: 100%;
    width: 100%;
    /*    box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);*/
}

.playericon {
    height: 50px;
}

.player {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 44px;
    min-width: 44px;
    cursor: pointer;
}

.players {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}

.playerlabel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 9px;
    margin: 5px;
    color: #bbb;
    text-align: center;
    height: 20px;
}

.game {
    margin-bottom: 20px;
    height: 120px;
    min-height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #212121;
}

.type {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #999;
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    border-top: 3px solid #212121;
    margin-bottom: 10px;
    line-height: 16px;
    margin-top: 10px;
}